<div *ngIf="error" class="alert alert-danger">
  {{error}}
</div>

<div>
  <h1>Data to import a certificate</h1>
  <span class="input-group">
    Entity*
    <input [(ngModel)]="changeKeyStorePassData.entity" type="text">
  </span>

  <span class="input-group">
    Type*
    <input [(ngModel)]="changeKeyStorePassData.type" type="text">
  </span>

  <span class="input-group">
    Keystore* (must include extension)
    <input [(ngModel)]="changeKeyStorePassData.keystore" type="text">
  </span>

  <span class="input-group">
    New password
    <input [(ngModel)]="changeKeyStorePassData.new_password" type="password">
  </span>

  <span class="input-group">
    Storepass
    <input [(ngModel)]="changeKeyStorePassData.storepass" type="password">
  </span>

  <span class="input-group">
    Store type
    <input [(ngModel)]="changeKeyStorePassData.storetype" type="text">
  </span>

  <span class="input-group">
    Provider name
    <input [(ngModel)]="changeKeyStorePassData.providername" type="text">
  </span>

  <span class="input-group">
    Provider class
    <input [(ngModel)]="changeKeyStorePassData.providerclass" type="text">
  </span>

  <span class="input-group">
    Provider argument
    <input [(ngModel)]="changeKeyStorePassData.providerarg" type="text">
  </span>

  <span class="input-group">
    Provider path
    <input [(ngModel)]="changeKeyStorePassData.providerpath" type="text">
  </span>

  <div class="buttons">
    <button class="btn btn-info" (click)="changePassword()">
      Change key store password
    </button>
  </div>
</div>

<div class="response" *ngIf="changeKeyStorePassResponse" >
  <h1>Output</h1>
  <p>Status: {{changeKeyStorePassResponse.data}}</p>
</div>
