<div class="rmc-footer">
  <a class="t1c-logo" href="http://www.trust1connector.com" target="_blank">
    <img alt="Trust1Connector" src="assets/images/t1c-stamp.svg">
  </a>

  <div class="footer-text">
    <div class="text-small" [translate]="'FOOTER.SERVICE_NOTICE'"></div>

    <div class="text-copyright">
      Copyright <span class="fa fa-copyright"></span>&nbsp;{{ currentYear }} - <a href="http://www.trust1team.com">Trust1Team</a> - <span [translate]="'FOOTER.ALL_RIGHTS_RESERVED'">All rights reserved.</span>
    </div>
  </div>

  <div class="faq clickable" tooltip="{{ 'FAQ.TITLE' | translate }}" (click)="toggleFAQ()">
    <fa [name]="'question-circle'" [size]="2"></fa>
  </div>
</div>
