<div class="card-viz-container">
  <div class="loading-block" *ngIf="loading">
    <div class="spinner-container">
      <span class="spinner fa fa-spinner fa-pulse"></span>
      <p class="spinner-text text-light" i18n="@@readingCard">Reading Card...</p>
    </div>
  </div>

  <div class="error-block" *ngIf="!loading && errorReadingCard">
    <span class="spinner fa fa-warning"></span>
    <p class="error-text text-thin" i18n="@@errorReadingCard">Error reading card</p>
    <a class="try-again clickable" (click)="readAnother()" i18n="@@tryAgain">Try again?</a>
  </div>

  <div class="error-block" *ngIf="!loading && unknownCard">
    <span class="spinner fa fa-question-circle"></span>
    <p class="error-text text-thin" i18n="@@errorNotSupported">We're sorry, this type of card is currently not supported.</p>
    <p class="info-text text-thin">
      <span i18n="@@supportedCardTypes">You can find the list of currently supported card types <a class="clickable" (click)="showSupportedCardTypes()">here</a>.</span>
    </p>
    <span class="try-again" i18n="@@insertDifferentCardToTryAgain">Insert a different card to try again!</span>

    <div class="feedback">
      <div class="unknown-card-form" [hidden]="submitted">
        <p class="text-thin text-left" i18n="@@futureSupport">If you would like us to support this type of card in the future, let us know what kind of card this is.</p>
        <form (submit)="registerUnknownType(cardDesc)" class="form-inline">
          <input type="text"
                 i18n-placeholder
                 placeholder="Please provide a short description of the card"
                 class="form-control"
                 data-ng-model="cardDesc"
                 autofocus>
          <span type="submit" id="submit" class="btn btn-default" (click)="registerUnknownType(cardDesc)" i18n="@@submitFeedback">Submit</span>
        </form>
      </div>
      <p class="info-text text-thin" [hidden]="!submitted" i18n="@@thankYouForFeedback">Thank you for your feedback!</p>
    </div>
  </div>

  <div class="card-viz" *ngIf="!loading && !errorReadingCard && !unknownCard">
    <div class="card-type"><span class="text-light" i18n="@@cardType">Card Type:</span>
      <span class="text-bold">{{cardTypePretty}}</span>
    </div>

    <div class="viz-container">
      <app-beid-viz [rnData]="cardData.rn"
                    [addressData]="cardData.address"
                    [picData]="cardData.picture"
                    [certData]="cardData"
                    [readerId]="readerId"
                    *ngIf="cardType === 'beid'"></app-beid-viz>

      <app-dnie-viz *ngIf="cardType === 'dnie'" [readerId]="readerId" [cardData]="cardData"></app-dnie-viz>

      <app-emv-viz [data]="cardData" [readerId]="readerId" *ngIf="cardType === 'emv'"></app-emv-viz>

      <app-lux-viz [readerId]="readerId" *ngIf="cardType === 'luxeid'"></app-lux-viz>

      <app-lux-trust-viz [cardData]="cardData" [readerId]="readerId" *ngIf="cardType === 'luxtrust'"></app-lux-trust-viz>

      <app-ocra-viz [cardData]="cardData" [readerId]="readerId" *ngIf="cardType === 'ocra'"></app-ocra-viz>

      <!--<mobib-viz card-data="$ctrl.cardData" reader-id="$ctrl.readerId" is-basic="$ctrl.cardTypePretty === 'MOBIB Basic'"-->
      <!--*ngIf="cardType === 'mobib'"></mobib-viz>-->

      <app-oberthur-viz [cardData]="cardData" [readerId]="readerId" *ngIf="cardType === 'oberthur'"></app-oberthur-viz>

      <!--<piv-visualizer *ngIf="cardType === 'piv'" reader-id="$ctrl.readerId" card-data="$ctrl.cardData"></piv-visualizer>-->

      <!--<pteid-visualizer *ngIf="cardType === 'pteid'" reader-id="$ctrl.readerId" card-data="$ctrl.cardData"></pteid-visualizer>-->
    </div>
  </div>
</div>
