<div class="rmc-step">
  <div class="rmc-title-block">
    <span class="rmc-title hit-the-floor" i18n="@@readMyCards">ReadMyCards</span>
    <div class="rmc-subtitle"><span class="rmc-subtitle-text" i18n="@@byTrust1Connector">by Trust1Connector</span>
    </div>
  </div>

  <div class="rmc-download-prompt">
    <div class="prompt-text text-ultralight" i18n="@@pluginDownloadFailed">
      An error occurred while downloading the Trust1Connector plugins that are required for this website.<br><br>Reload the page to try again. If this error keeps occurring, please contact support.
    </div>
    <div class="prompt-text"><a class="clickable" (click)="reload()" i18n="@@pluginDownloadReload">Click here to reload.</a></div>
  </div>
</div>
