@import "../../../../variables";

.dni-card {
  font-family: Arial, sans-serif;
  @chip-width: 132px;


  .labels {
    font-size: 10.5px;
    line-height: 1;
    letter-spacing: -1px;
    text-transform: uppercase;
  }

  .values {
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 14.5px;
    margin-top: -1px;
    padding: 1px 0 2px;
  }

  .section {
    padding-top: 2px;
  }

  .front {
    //background-image: url('../images/dnie-front.png');
    //background-size: cover;
    position: relative;

    .header {
      position: relative;
      //font-family: "Helvetica Neue", sans-serif;

      .dni {
        position: absolute;
        top: 5px;
        right: 30px;
        font-size: 18px;
        letter-spacing: -1px;
        font-weight: bold;
      }
      .dni-underline {
        position: absolute;
        background: #000;
        height: 2px;
        width: 338px;
        top: 30px;
        right: 30px;
      }

      .espana {
        font-family: Arial, sans-serif;
        position: absolute;
        top: 52px;
        left: 25px;
        font-size: 28px;
        font-weight: bold;
        letter-spacing: -1.5px;
      }
    }
    .content {
      margin-left: @chip-width + 15;
      margin-top: 36px;

      .sex-nationality {
        padding: 0;

        .nationality {
          &.labels {
            margin-left: 16px;
          }

          &.values {
            margin-left: 28px;
          }
        }
      }

      .dob {
        margin-top: -5px;
        .dob-month, .dob-year {
          margin-left: 25px;
        }
      }

      .desp {
        margin-top: -3px;
      }

      .validity {
        margin-top: -2px;
        .validity-month {
          margin-left: 18px;
        }

        .validity-year {
          margin-left: 15px;
        }
      }


      .chip {
        width: @chip-width;
      }
    }
    .dni-number {
      position: absolute;
      bottom: 12px;
      left: 15px;
    }

    .picture-wrapper {
      position: absolute;
      bottom: 2px;
      right: 10px;

      .pic {
        max-width: 145px;
      }
    }
  }

  .back {
    //background-image: url('../images/dnie-back.png');
    //background-size: cover;
    position: relative;

    .left-column {
      position: absolute;
      left: 10px;
      top: 14px;

      .province-country, .parents, .address, .municipality {
        margin-top: 1px;

        &.repeat {
          margin-top: 14px;
        }
      }
    }

    .equipo {
      position: absolute;
      left: 368px;
      top: 162px;

      .values {
        letter-spacing: 1px;
      }
    }

    .machine-readable-zone {
      position: absolute;
      line-height: 1.15;
      letter-spacing: 0.5px;
      left: 30px;
      top: 222px;
      font-family: 'OCR-B', monospace;
      font-size: 24px;
    }
  }
}
