<div>
  <h4>Entities and Types</h4>
  <table class="table table-striped t1c-plugin-table">
    <thead>
    <tr>
      <th>Entity</th>
      <th>Type</th>
      <th>Abs Path</th>
      <th>Access Mode</th>
      <th>Files</th>
      <th>Status</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entity of entities">
      <td>{{entity.entity}}</td>
      <td>{{entity.type}}</td>
      <td>{{entity.abs_path}}</td>
      <td>{{entity.access_mode}}</td>
      <td>{{entity.files}}</td>
      <td>{{entity.status}}</td>
      <td>
        <div class="buttons">
          <button type="button" class="btn btn-info" md-ink-ripple><a (click)="getFilesForType(entity)">Show files</a></button>
          <button type="button" class="btn btn-info" md-ink-ripple><a (click)="updateTypeMapping(entity)">Update</a></button>
          <button type="button" class="btn btn-warning" md-ink-ripple><a (click)="deleteTypeMapping(entity)">Delete</a></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="files">
    <h5>Files overview</h5>
    <div *ngIf="files && totalFiles > 0">
      <table class="table table-striped t1c-plugin-table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Extension</th>
          <th>Size</th>
          <th>Is directory</th>
          <th>Access mode</th>
          <th>Last modification date</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let file of files">
          <td>{{file.name}}</td>
          <td>{{file.extension}}</td>
          <td>{{file.size}}</td>
          <td>{{file.is_dir}}</td>
          <td>{{file.access_mode}}</td>
          <td>{{file.last_modification_time | date}}</td>
        </tr>
        </tbody>
      </table>
      <div>Total Files: <b>{{totalFiles}}</b></div>
    </div>

    <div *ngIf="!files || totalFiles == 0">
      No files found for selected type.
    </div>
  </div>

</div>
