<div *ngIf="error" class="alert alert-danger">
  {{error}}
</div>

<div>
  <h1>Data to change a key password</h1>
  <span class="input-group">
    Entity*
    <input [(ngModel)]="changeKeyPassData.entity" type="text">
  </span>

  <span class="input-group">
    Type*
    <input [(ngModel)]="changeKeyPassData.type" type="text">
  </span>

  <span class="input-group">
    Keystore*
    <input [(ngModel)]="changeKeyPassData.keystore" type="text">
  </span>

  <span class="input-group">
    Alias*
    <input [(ngModel)]="changeKeyPassData.alias" type="text">
  </span>

  <span class="input-group">
    New password
    <input [(ngModel)]="changeKeyPassData.newpass" type="password">
  </span>

  <span class="input-group">
    Keypass
    <input [(ngModel)]="changeKeyPassData.keypass" type="password">
  </span>

  <span class="input-group">
    Storepass
    <input [(ngModel)]="changeKeyPassData.storepass" type="password">
  </span>

  <span class="input-group">
    Store type
    <input [(ngModel)]="changeKeyPassData.storetype" type="text">
  </span>

  <span class="input-group">
    Provider name
    <input [(ngModel)]="changeKeyPassData.providername" type="text">
  </span>

  <span class="input-group">
    Provider class
    <input [(ngModel)]="changeKeyPassData.providerclass" type="text">
  </span>

  <span class="input-group">
    Provider argument
    <input [(ngModel)]="changeKeyPassData.providerarg" type="text">
  </span>

  <span class="input-group">
    Provider path
    <input [(ngModel)]="changeKeyPassData.providerpath" type="text">
  </span>

  <div class="buttons">
    <button class="btn btn-info" (click)="changeKeyPass()">
      Change key password
    </button>
  </div>
</div>

<div class="response" *ngIf="changeKeyPassResponse" >
  <h1>Output</h1>
  <p>Status: {{changeKeyPassResponse.data}}</p>
</div>
