<div class="card-viz-container">
  <div class="card-viz-title hit-the-floor" i18n="@@cardContents">Card Contents</div>

  <div class="card-list" [hidden]="readers.length <= 1">
    <span class="reader-list-header"><span i18n="@@selectCard">Select Card</span>:</span>
    <reader-icon *ngFor="let reader of readers" index="$index + 1"
                 reader="reader"
                 current-reader-id="$ctrl.currentReaderId">
    </reader-icon>
  </div>

  <card-visualizer reader-id="$ctrl.currentReaderId"></card-visualizer>
</div>
