<div>
  <h4>Entities and Types</h4>
  <div>Entities are organization labels denoting the context of a type mapping. A type mapping is an identifier mapped by the user on an absolute path (local file system)</div>
  this tab will:
  - create type (implicit entity) - deal with exceptions
  - create type forces (explicit filechooser, even if it exists)
  - create type dirs (for existing type)
  - create type dir (implicit type creation)
  - update type (perform a get to show the types for given entity)
  - delete type (perform a get to show the types for given entity)
  - an entity can not be deleted(?)
  - deal with exception handling
</div>
