<div class="root-container st-container">
  <app-rmc-header id="rmc-header"></app-rmc-header>

  <nav class="st-menu sliding-list" [ngClass]="{ 'st-menu-open': cardTypesOpen }" id="menu-1">
    <h2><span i18n="@@supportedTypes">Supported Types</span>:</h2>
    <ul>
      <li><a i18n="@@belgianEid">Belgian eID</a></li>
      <li><a i18n="@@emv">EMV (Credit/Debit Cards)</a></li>
      <li><a i18n="@@luxEid">Luxembourgish eID</a></li>
      <li><a i18n="@@luxtrustCards">LuxTrust Cards</a></li>
      <li><a i18n="@@mobib">MoBIB</a></li>
      <li><a i18n="@@oberthur">Oberthur</a></li>
      <li><a i18n="@@ocraOtp">OCRA OTP Cards</a></li>
      <li><a i18n="@@civPivCards">CIV/PIV Cards</a></li>
      <li><a i18n="@@spanishDnie">Spanish DNIe</a></li>
      <li><a i18n="@@pteid">Portuguese eID</a></li>
    </ul>
    <div class="not-supported" i18n="@@cardNotSupported">
      Don't find your card in the list?
      <br>Send us an email with the card you want supported!
    </div>
  </nav>

  <nav class="st-fileexchange-panel sliding-fileexchange-panel" [ngClass]="{ 'st-fileexchange-panel-open': fileExchangePanelOpen }" id="menu-fileexchange-panel">
    <div class="fe-tabs">
      <div class="refresh-btn" i18n-tooltip tooltip="Refresh Data" placement="left">
                <span class="clickable fa fa-refresh fa-lg text-primary"
                      [ngClass]="{ 'fa-spin': hover }"
                      (init)="hover = false"
                      (mouseenter)="hover = true"
                      (mouseleave)="hover = false" (click)="refreshFileExchangeData()"></span>
      </div>

      <main>
        <input id="tab8" type="radio" name="tabs">
        <label for="tab8" i18n="@@filexEntityTypes">Entities and types</label>

        <input id="tab9" type="radio" name="tabs">
        <label for="tab9" i18n="@@filexTypeOps">Type Ops</label>

        <input id="tab10" type="radio" name="tabs">
        <label for="tab10" i18n="@@filexFileUpload">File Upload</label>

        <input id="tab11" type="radio" name="tabs">
        <label for="tab11" i18n="@@filexFileDownload">File Download</label>

        <input id="tab12" type="radio" name="tabs">
        <label for="tab12" i18n="@@filexFileOps">File Ops</label>

        <input id="tab13" type="radio" name="tabs">
        <label for="tab13" i18n="@@filexMisc">Miscellaneous</label>

        <section id="content8">
          <app-file-exchange-types></app-file-exchange-types>

        </section>

        <section id="content9">
          <app-file-exchange-typeops></app-file-exchange-typeops>
        </section>

        <section id="content10">
          <app-file-exchange-upload></app-file-exchange-upload>
        </section>

        <section id="content11">
          <app-file-exchange-download></app-file-exchange-download>
        </section>

        <section id="content12">
          <app-file-exchange-fileops></app-file-exchange-fileops>
        </section>

        <section id="content13">
          <app-file-exchange-misc></app-file-exchange-misc>
        </section>
      </main>
    </div>
  </nav>

  <nav class="st-admin-panel sliding-admin-panel" [ngClass]="{ 'st-admin-panel-open': adminPanelOpen }" id="menu-admin-panel">
    <div class="fe-tabs">
      <div class="refresh-btn" i18n-tooltip tooltip="Refresh Data" placement="left">
                <span class="clickable fa fa-refresh fa-lg text-primary"
                      [ngClass]="{ 'fa-spin': hover }"
                      (init)="hover = false"
                      (mouseenter)="hover = true"
                      (mouseleave)="hover = false" (click)="refreshAdminData()"></span>
      </div>

      <main>
        <input id="tab1" type="radio" name="tabs" checked>
        <label for="tab1" i18n="@@adminEnvironment" >Environment</label>

        <input id="tab2" type="radio" name="tabs">
        <label for="tab2" i18n="@@adminCardReader" >Card Readers</label>

        <input id="tab3" type="radio" name="tabs">
        <label for="tab3" i18n="@@adminContainer" >Containers</label>

        <input id="tab4" type="radio" name="tabs">
        <label for="tab4" i18n="@@adminDevice" >Device</label>

        <input id="tab5" type="radio" name="tabs">
        <label for="tab5" i18n="@@adminDependencies" >Dependencies</label>

        <input id="tab6" type="radio" name="tabs">
        <label for="tab6" i18n="@@adminPkcs11" >PKCS11 Config</label>

        <input id="tab7" type="radio" name="tabs">
        <label for="tab7" i18n="@@adminLogs" >Logs</label>

        <section id="content1">
          <app-t1c-info></app-t1c-info>
        </section>

        <section id="content2">
          <app-card-reader-info></app-card-reader-info>
        </section>

        <section id="content3">
          <app-container-info></app-container-info>
        </section>

        <section id="content4">
          <app-device-info></app-device-info>
        </section>

        <section id="content5">
          <app-dependency-info></app-dependency-info>
        </section>

        <section id="content6">
          <app-pkcs11-config></app-pkcs11-config>
        </section>

        <section id="content7">
          <app-log-info></app-log-info>
        </section>
      </main>
    </div>
  </nav>


  <div class="content-overlay" [hidden]="!(cardTypesOpen || faqOpen)" [ngClass]="{ 'visible': cardTypesOpen || faqOpen }" (click)="dismissPanels()"></div>
  <div id="rmc-content">
    <app-rmc-consent *ngIf="noConsent"></app-rmc-consent>

    <app-rmc-download-failed *ngIf="downloadError"></app-rmc-download-failed>

    <app-download-gcl [dlUrl]="dlLink" [isFirefox]="isFirefox" *ngIf="gclChecked && !gclAvailable"></app-download-gcl>

    <app-reader-polling [error]="error" *ngIf="pollingReaders"></app-reader-polling>

    <app-card-polling [error]="error" [pollTimeout]="pollTimeout" *ngIf="pollingCard"></app-card-polling>

    <app-reader-select [currentReaderId]="readerWithCard.id" *ngIf="readerWithCard"></app-reader-select>
  </div>
  <nav class="st-faq sliding-faq" [ngClass]="{ 'st-faq-open': faqOpen }" id="menu-2">
    <app-rmc-faq></app-rmc-faq>
  </nav>
  <app-rmc-footer id="rmc-footer"></app-rmc-footer>
</div>
