<div class="modal-body">

  <div class="text-center waiting-for-pin" *ngIf="pinpad">
    <h3 class="text-primary text-thin" i18n="@@useReaderPinpad">Enter the PIN code on your reader's pinpad</h3>
    <p class="spinner"><i class="fa fa-4x fa-spinner fa-pulse"></i></p>
    <p class="spinner-text text-thin" i18n="@@awaitingResponseFromReader">Awaiting response from reader...</p>
  </div>

  <div *ngIf="!pinpad">
    <app-rmc-keypad (onSubmit)="submitPin($event)" title="Enter PIN code" (onCancel)="cancel()"></app-rmc-keypad>
  </div>

</div>
