<alert class="card-status pin-check-status clickable" (click)="checkPin()" type="muted" *ngIf="status === 'idle'">
  <fa [name]="'question-circle'" [size]="1"></fa>
  <span class="info-text text-ultralight" i18n="@@clickToCheckPin">Click to check PIN code</span>
</alert>
<alert class="card-status pin-check-status clickable" (click)="checkPin()" type="muted" *ngIf="status === 'cancelled'">
  <fa [name]="'question-circle'" [size]="1"></fa>
  <span class="info-text text-ultralight" i18n="@@pinCheckCancelled">Cancelled on reader, click to try again.</span>
</alert>
<alert class="card-status pin-check-status clickable" (click)="checkPin()" type="warning" *ngIf="status === 'error'">
  <fa [name]="'exclamation-triangle'" [size]="1"></fa>
  <span class="info-text text-ultralight" i18n="@@pinCheckError">An error occurred during the validation process. Please try again later.</span>
</alert>
<alert class="card-status pin-check-status clickable" (click)="checkPin()" type="warning" *ngIf="status === '4remain' || status === '3remain' || status === '2remain' || status === '1remain'">
  <fa [name]="'exclamation-triangle'" [size]="1"></fa>
  <span class="info-text text-ultralight" i18n="@@pinTriesRemaining">Wrong PIN entered; {remainingTries, plural, =1 {1 try} other{{{remainingTries}} tries} } remaining.</span>
</alert>
<alert class="card-status pin-check-status" type="success" *ngIf="status === 'valid'">
  <fa [name]="'check-circle'" [size]="1"></fa>
  <span class="info-text text-ultralight" i18n="@@pinCheckOk">PIN check ok.</span>
</alert>
<alert class="card-status pin-check-status" type="danger" *ngIf="status === 'blocked'">
  <fa [name]="'times-circle'" [size]="1"></fa>
  <span class="info-text text-ultralight" i18n="@@pinBlocked">{{maxTries}} invalid PINs entered. PIN blocked.</span>
</alert>

