<alert class="card-status mobib-active-status"
       type="success"
       *ngIf="status === 'active'">
  <fa [name]="'check-circle'" [size]="1"></fa>
  <span class="info-text text-ultralight" i18n="@@mobibActive"><strong>Active</strong></span>
</alert>
<alert class="card-status mobib-active-status"
       type="danger"
       *ngIf="status === 'inactive'">
  <fa [name]="'times-circle'" [size]="1"></fa>
  <span class="info-text text-ultralight" i18n="@@mobibNotActive"><strong>Not active</strong></span>
</alert>
