<div class="modal-body">
  <div *ngIf="!pinpad">
    <h3>{{title}}</h3>
    <div class="form-group">
      <label for="pukcode">Puk code</label>
      <input type="password" class="form-control" id="pukcode" autocomplete="off" [(ngModel)]="pukcode">
    </div>
    <div class="form-group">
      <label for="newpin">New pin</label>
      <input type="password" class="form-control" id="newpin" autocomplete="off" [(ngModel)]="newPincode">
    </div>
    <button type="button"(click)="resetPin()" class="btn btn-primary">Change pin</button>
    <button type="button"(click)="cancel()" class="btn btn-danger">Cancel</button>
  </div>
</div>
