<div class="card mobib-card mobib-mivb">
  <div class="front">
    <div class="specimen text-uppercase">Specimen</div>
    <div class="chip-icon"></div>

    <div class="mivb-content">
      <div class="mobib-logo-wrapper">
        <img class="mobib-logo" src="assets/images/mobib.png" />
      </div>
      <div class="mivb-inset">
        <div class="card-info">
          <div class="reg">{{ formattedCardNumber1 }}</div>
          <div class="card-number">{{ formattedCardNumber2 }}</div>
        </div>
        <div class="names">
          <div class="dob">{{ dob }}</div>
          <div class="first-name text-capitalize">{{ firstName }}</div>
          <div class="last-name text-capitalize">{{ lastName }}</div>
        </div>
      </div>
      <div class="serial-numbers">
        <!--<div class="serial-number inline">01 2345 6789 1011 1213</div>-->
        <!--<div class="short-serial inline">1 123 456 789</div>-->
      </div>
    </div>
    <div class="mivb-picture-wrapper">
      <img class="mivb-pic" *ngIf="!cardData.picture || cardData.picture.length === 0" src="assets/images/default-pic.jpg"/>
      <img class="mivb-pic" *ngIf="cardData.picture && cardData.picture.length > 0" [attr.src]="'data:image/jpeg;base64,' + cardData.picture"/>
    </div>
    <div class="mivb-logo-wrapper">
      <img class="mivb-logo" src="assets/images/mivb.png">
    </div>
  </div>
</div>
