<div>
  <h4>Enter file path to verify if existing</h4>
  <div class="panel-body">
    <form role="form" class="form-horizontal">
      <div class="input-group">
        <input id="existsEntityInput" type="text" class="form-control" placeholder="Entity name" aria-describedby="basic-addon1" #existsEntityInput>
      </div>

      <div class="input-group">
        <input id="existsTypeInput" type="text" class="form-control" placeholder="Type name" aria-describedby="basic-addon1" #existsTypeInput>
      </div>

      <div class="input-group">
        <input id="existsFilePathInput" type="text" class="form-control" placeholder="File path (using '/')" aria-describedby="basic-addon1" #existsFilePathInput>
      </div>

    </form>
    <div class="buttons">
      <button type="button" class="btn btn-info" md-ink-ripple><a (click)="existsFile(existsEntityInput, existsTypeInput, existsFilePathInput)">Exists?</a></button>
    </div>
  </div>
  <div *ngIf="existingEntity && existingType && existingFilePath">
    <label *ngIf="fileExists" class="color_green" > File exists! </label>
    <label *ngIf="!fileExists" class="color_red" > File does not exist! </label>
  </div>


  <hr class="hr-primary">


  <h4>Get Access Mode for type, directory or file</h4>
  <div class="panel-body">
    <form role="form" class="form-horizontal">
      <div class="input-group">
        <input id="amEntityInput" type="text" class="form-control" placeholder="Entity name" aria-describedby="basic-addon1" #amEntityInput>
      </div>

      <div class="input-group">
        <input id="amTypeInput" type="text" class="form-control" placeholder="Type name" aria-describedby="basic-addon1" #amTypeInput>
      </div>

      <div class="input-group">
        <input id="amFilePathInput" type="text" class="form-control" placeholder="File path (using '/')" aria-describedby="basic-addon1" #amFilePathInput>
      </div>

    </form>
    <div class="buttons">
      <button type="button" class="btn btn-info" md-ink-ripple><a (click)="existsFile(existsEntityInput, existsTypeInput, existsFilePathInput)">Exists?</a></button>
    </div>
  </div>
  <div *ngIf="amEntity && amType && amFilePath">
    <label *ngIf="accessMode" class="color_green" > {{accessMode}} </label>
    <label *ngIf="!accessMode" class="color_red" > {{accessMode}} </label>
  </div>


  <hr class="hr-primary">


  <h4>Move file from type to another type</h4>
  <div class="panel-body">
    <form role="form" class="form-horizontal">
      <div class="input-group">
        <input id="moveFromEntity" type="text" class="form-control" placeholder="Source Entity name" aria-describedby="basic-addon1" #moveFromEntity>
      </div>

      <div class="input-group">
        <input id="moveFromType" type="text" class="form-control" placeholder="Source Type name" aria-describedby="basic-addon1" #moveFromType>
      </div>

      <div class="input-group">
        <input id="moveFromRelPath" type="text" class="form-control" placeholder="Source optional relative path" aria-describedby="basic-addon1" #moveFromRelPath>
      </div>

      <div class="input-group">
        <input id="moveFile" type="text" class="form-control" placeholder="Filename" aria-describedby="basic-addon1" #moveFilename>
      </div>

      <div class="input-group">
        <input id="moveToType" type="text" class="form-control" placeholder="Target Type name" aria-describedby="basic-addon1" #moveToType>
      </div>

      <div class="input-group">
        <input id="moveToRelPath" type="text" class="form-control" placeholder="Target optional relative path" aria-describedby="basic-addon1" #moveToRelPath>
      </div>

    </form>
    <div class="buttons">
      <button type="button" class="btn btn-info" md-ink-ripple><a (click)="moveFile(moveFromEntity, moveFromType, moveFromRelPath, moveFilename, moveToType, moveToRelPath)">Move file</a></button>
    </div>
  </div>
  <div *ngIf="mvFromEntity && mvFromType && mvFilename && mvToType">
    <div *ngIf="movedFile">
      <table class="table table-striped t1c-info-table">
        <tr>
          <td class="t1c-title">Entity</td>
          <td>{{movedFile.entity}}</td>
        </tr>
        <tr>
          <td class="t1c-title">Type</td>
          <td>{{movedFile.type}}</td>
        </tr>
        <tr>
          <td class="t1c-title">Filename</td>
          <td>{{movedFile.name}}</td>
        </tr>
        <tr>
          <td class="t1c-title">Extension</td>
          <td>{{movedFile.extension}}</td>
        </tr>
        <tr>
          <td class="t1c-title">Size</td>
          <td>{{movedFile.size}}</td>
        </tr>
        <tr>
          <td class="t1c-title">Access Mode</td>
          <td>{{movedFile.access_mode}}</td>
        </tr>
        <tr>
          <td class="t1c-title">Path</td>
          <td>{{movedFile.path}}</td>
        </tr>
        <tr>
          <td class="t1c-title">Last modification</td>
          <td>{{movedFile.last_modification_time|date}}</td>
        </tr>
        <tr>
          <td class="t1c-title">Is directory?</td>
          <td>
            <span class="fa fa-lg fa-times text-danger" *ngIf="!movedFile.is_dir"></span>
            <span class="fa fa-lg fa-check text-success" *ngIf="movedFile.is_dir"></span>
          </td>
        </tr>
      </table>
    </div>
  </div>


  <hr class="hr-primary">


  <h4>Copy file from type to another type</h4>
  <div class="panel-body">
    <form role="form" class="form-horizontal">
      <div class="input-group">
        <input id="copyFromEntity" type="text" class="form-control" placeholder="Source Entity name" aria-describedby="basic-addon1" #copyFromEntity>
      </div>

      <div class="input-group">
        <input id="copyFromType" type="text" class="form-control" placeholder="Source Type name" aria-describedby="basic-addon1" #copyFromType>
      </div>

      <div class="input-group">
        <input id="copyFromRelPath" type="text" class="form-control" placeholder="Source optional relative path" aria-describedby="basic-addon1" #copyFromRelPath>
      </div>

      <div class="input-group">
        <input id="copyFileName" type="text" class="form-control" placeholder="Original Filename" aria-describedby="basic-addon1" #copyFileName>
      </div>

      <div class="input-group">
        <input id="copyToType" type="text" class="form-control" placeholder="Target Type name" aria-describedby="basic-addon1" #copyToType>
      </div>

      <div class="input-group">
        <input id="copyToRelPath" type="text" class="form-control" placeholder="Target optional relative path" aria-describedby="basic-addon1" #copyToRelPath>
      </div>

      <div class="input-group">
        <input id="copyNewFile" type="text" class="form-control" placeholder="Optional new filename" aria-describedby="basic-addon1" #copyNewFile>
      </div>

    </form>
    <div class="buttons">
      <button type="button" class="btn btn-info" md-ink-ripple><a (click)="copyFile(copyFromEntity, copyFromType, copyFromRelPath, copyFileName, copyToType, copyToRelPath, copyNewFile)">Copy file</a></button>
    </div>
  </div>
  <div *ngIf="cpFromEntity && cpFromType && cpFilename && cpToType">
    <div *ngIf="copiedFile">
      <table class="table table-striped t1c-info-table">
        <tr>
          <td class="t1c-title">Entity</td>
          <td>{{copiedFile.entity}}</td>
        </tr>
        <tr>
          <td class="t1c-title">Type</td>
          <td>{{copiedFile.type}}</td>
        </tr>
        <tr>
          <td class="t1c-title">Filename</td>
          <td>{{copiedFile.name}}</td>
        </tr>
        <tr>
          <td class="t1c-title">Extension</td>
          <td>{{copiedFile.extension}}</td>
        </tr>
        <tr>
          <td class="t1c-title">Size</td>
          <td>{{copiedFile.size}}</td>
        </tr>
        <tr>
          <td class="t1c-title">Access Mode</td>
          <td>{{copiedFile.access_mode}}</td>
        </tr>
        <tr>
          <td class="t1c-title">Path</td>
          <td>{{copiedFile.path}}</td>
        </tr>
        <tr>
          <td class="t1c-title">Last modification</td>
          <td>{{copiedFile.last_modification_time|date}}</td>
        </tr>
        <tr>
          <td class="t1c-title">Is directory?</td>
          <td>
            <span class="fa fa-lg fa-times text-danger" *ngIf="!copiedFile.is_dir"></span>
            <span class="fa fa-lg fa-check text-success" *ngIf="copiedFile.is_dir"></span>
          </td>
        </tr>
      </table>
    </div>
  </div>


  <hr class="hr-primary">


  <h4>Rename file</h4>
  <div class="panel-body">
    <form role="form" class="form-horizontal">
      <div class="input-group">
        <input id="renEntity" type="text" class="form-control" placeholder="Source Entity name" aria-describedby="basic-addon1" #renEntity>
      </div>

      <div class="input-group">
        <input id="renType" type="text" class="form-control" placeholder="Source Type name" aria-describedby="basic-addon1" #renType>
      </div>

      <div class="input-group">
        <input id="renRelPath" type="text" class="form-control" placeholder="Source optional relative path" aria-describedby="basic-addon1" #renRelPath>
      </div>

      <div class="input-group">
        <input id="renFileName" type="text" class="form-control" placeholder="Original Filename" aria-describedby="basic-addon1" #renFileName>
      </div>

      <div class="input-group">
        <input id="renNewFile" type="text" class="form-control" placeholder="Optional new filename" aria-describedby="basic-addon1" #renNewFile>
      </div>

    </form>
    <div class="buttons">
      <button type="button" class="btn btn-info" md-ink-ripple><a (click)="renameFile(renEntity, renType, renRelPath, renFileName, renNewFile)">Copy file</a></button>
    </div>
  </div>
  <div *ngIf="renEntity && renType && renFileName && renNewFile">
    <div *ngIf="rennedFile">
      <table class="table table-striped t1c-info-table">
        <tr>
          <td class="t1c-title">Entity</td>
          <td>{{rennedFile.entity}}</td>
        </tr>
        <tr>
          <td class="t1c-title">Type</td>
          <td>{{rennedFile.type}}</td>
        </tr>
        <tr>
          <td class="t1c-title">Filename</td>
          <td>{{rennedFile.name}}</td>
        </tr>
        <tr>
          <td class="t1c-title">Extension</td>
          <td>{{rennedFile.extension}}</td>
        </tr>
        <tr>
          <td class="t1c-title">Size</td>
          <td>{{rennedFile.size}}</td>
        </tr>
        <tr>
          <td class="t1c-title">Access Mode</td>
          <td>{{rennedFile.access_mode}}</td>
        </tr>
        <tr>
          <td class="t1c-title">Path</td>
          <td>{{rennedFile.path}}</td>
        </tr>
        <tr>
          <td class="t1c-title">Last modification</td>
          <td>{{rennedFile.last_modification_time|date}}</td>
        </tr>
        <tr>
          <td class="t1c-title">Is directory?</td>
          <td>
            <span class="fa fa-lg fa-times text-danger" *ngIf="!rennedFile.is_dir"></span>
            <span class="fa fa-lg fa-check text-success" *ngIf="rennedFile.is_dir"></span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
