<div>
  <h4>File Download</h4>
  <div class="buttons">
    <div>Clicking this button, will download an example file using entity 't1c' and type 'test' in a subfolder 'downloads'. The user will see a file chooser to perform the type mapping.</div>
    <button type="button" class="btn btn-info" md-ink-ripple><a (click)="downloadSimpleExample()">Download example file</a></button>
<!--    <div>
      <label>Example PDF</label>
      <input type="text" placeholder="PDF src" [(ngModel)]="pdfSrc">
    </div>-->
    <!--<pdf-viewer [src]="'/assets/test.pdf'" style="display: block;" [page]="1"></pdf-viewer>-->
  </div>
</div>
