<div>
  <h4>Type Operations</h4>
  <h5>Create new type</h5>
  <div class="panel-heading">Provide entity and type</div>
  <div class="panel-body">
    <form role="form" class="form-horizontal">
      <!-- dropdown control -->

      <!--create a new type-->
      <!--<label for="entityInput">Your vanity URL</label>-->
      <div class="input-group">
        <!--<span class="input-group-addon" id="basic-addon1">Entity name</span>-->
        <input id="entityInput" type="text" class="form-control" placeholder="Entity name" aria-describedby="basic-addon1">
      </div>

      <!--<label for="typeInput">Your vanity URL</label>-->
      <div class="input-group">
        <!--<span class="input-group-addon" id="basic-addon2">Type name</span>-->
        <input id="typeInput" type="text" class="form-control" placeholder="Type name" aria-describedby="basic-addon1">
      </div>
    </form>
  </div>
</div>
