<div>
  <h4>Create new type</h4>
  <!--<div class="panel-heading">Provide entity and type</div>-->
  <div class="panel-body">
    <form role="form" class="form-horizontal">
      <!-- dropdown control -->

      <!--create a new type-->
      <!--<label for="entityInput">Your vanity URL</label>-->
      <div class="input-group">
        <!--<span class="input-group-addon" id="basic-addon1">Entity name</span>-->
        <input class="entityInput" type="text" class="form-control" placeholder="Entity name"
               aria-describedby="basic-addon1" #entity>
      </div>

      <div class="input-group">
        <input class="typeInput" type="text" class="form-control" placeholder="Type name" aria-describedby="basic-addon1" #type>
      </div>

      <div class="input-group">
        <input id="initAbsPathInput" type="text" class="form-control" placeholder="Initial absolute path" aria-describedby="basic-addon1" #abspath>
      </div>

      <div class="input-group">
        <div class="form-check">
          <input id="showModalCheck" type="checkbox" [checked]="showModal" (change)="showModal = !showModal" />
          <label class="form-check-label" for="showModalCheck">Explicitly show file chooser (even when mapping exists)</label>
        </div>
      </div>

    </form>
    <div class="buttons">
      <span class="btn btn-info" (click)="createType(entity, type, abspath)">Create Type</span>
    </div>
  </div>

  <div *ngIf="createdType">
    <h5>Created Type</h5>
    <table class="table table-striped t1c-plugin-table">
      <thead>
      <tr>
        <th>Entity</th>
        <th>Type</th>
        <th>Abs Path</th>
        <th>Access Mode</th>
        <th>Files</th>
        <th>Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{createdType.entity}}</td>
        <td>{{createdType.type}}</td>
        <td>{{createdType.abs_path}}</td>
        <td>{{createdType.access_mode}}</td>
        <td>{{createdType.files}}</td>
        <td>{{createdType.status}}</td>
      </tr>
      </tbody>
    </table>
  </div>


  <hr class="hr-primary">

  <h4>Create directories</h4>
  <div class="panel-body">
    <form role="form" class="form-horizontal">
      <div class="input-group">
        <input id="entityCDI" type="text" class="form-control" placeholder="Entity name" aria-describedby="basic-addon1" #entityCDI>
      </div>

      <div class="input-group">
        <input id="typeCDI" type="text" class="form-control" placeholder="Type name" aria-describedby="basic-addon1" #typeCDI>
      </div>

      <div class="input-group">
        <input id="relpathCDI" type="text" class="form-control" placeholder="Relative path (file separator = '/')" aria-describedby="basic-addon1" #relpathCDI>
      </div>

      <div class="input-group">
        <div class="form-check">
          <input id="createRecursive" type="checkbox" [checked]="dirRecursive" (change)="dirRecursive = !dirRecursive" />
          <label class="form-check-label" for="createRecursive">Create folders recursively</label>
        </div>
      </div>
    </form>
    <div class="buttons">
      <span class="btn btn-info" (click)="createDirs(entityCDI, typeCDI, relpathCDI)">Create Directory</span>
    </div>
  </div>
  <div *ngIf="dirRecursiveCreated">
    <h5>Created Type</h5>
    <table class="table table-striped t1c-plugin-table">
      <thead>
      <tr>
        <th>Entity</th>
        <th>Type</th>
        <th>Created Directory</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{dirRecursiveCreated.entity}}</td>
        <td>{{dirRecursiveCreated.type}}</td>
        <td>{{dirRecursiveCreated.path}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <hr class="hr-primary">


  <h4>Create new type including directories</h4>
  <div class="panel-body">
    <form role="form" class="form-horizontal">
      <div class="input-group">
        <input id="entityDirInput" type="text" class="form-control" placeholder="Entity name" aria-describedby="basic-addon1" #entityDirInput>
      </div>

      <div class="input-group">
        <input id="typeDirInput" type="text" class="form-control" placeholder="Type name" aria-describedby="basic-addon1" #typeDirInput>
      </div>

      <div class="input-group">
        <input id="relpathDirInput" type="text" class="form-control" placeholder="Relative path (file separator = '/')" aria-describedby="basic-addon1" #relpathDirInput>
      </div>

      <div class="input-group">
        <div class="form-check">
          <input id="showModalDirCheck" type="checkbox" [checked]="dirShowModal" (change)="dirShowModal = !dirShowModal" />
          <label class="form-check-label" for="showModalDirCheck">Explicitly show file chooser (even when mapping exists)</label>
        </div>
      </div>
    </form>
    <div class="buttons">
      <span class="btn btn-info" (click)="createTypeDirs(entityDirInput, typeDirInput, relpathDirInput)">Create Type</span>
    </div>
  </div>
  <div *ngIf="dirCreatedType">
    <h5>Created Type</h5>
    <table class="table table-striped t1c-plugin-table">
      <thead>
      <tr>
        <th>Entity</th>
        <th>Type</th>
        <th>Abs Path</th>
        <th>Access Mode</th>
        <th>Files</th>
        <th>Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{dirCreatedType.entity}}</td>
        <td>{{dirCreatedType.type}}</td>
        <td>{{dirCreatedType.abs_path}}</td>
        <td>{{dirCreatedType.access_mode}}</td>
        <td>{{dirCreatedType.files}}</td>
        <td>{{dirCreatedType.status}}</td>
      </tr>
      </tbody>
    </table>
  </div>


  <hr class="hr-primary">


  <h4>Enter type to verify if existant</h4>
  <div class="panel-body">
    <form role="form" class="form-horizontal">
      <div class="input-group">
        <input class="existsEntityInput" type="text" class="form-control" placeholder="Entity name" aria-describedby="basic-addon1" #existsEntityInput>
      </div>

      <div class="input-group">
        <input class="existsTypeInput" type="text" class="form-control" placeholder="Type name" aria-describedby="basic-addon1" #existsTypeInput>
      </div>

    </form>
    <div class="buttons">
      <span class="btn btn-info" (click)="existsType(existsEntityInput, existsTypeInput)">Exists?</span>
    </div>
  </div>
  <div *ngIf="existingEntity && existingType">
    <label *ngIf="typeExists" class="color_green" > Type exists! </label>
    <label *ngIf="!typeExists" class="color_red" > Type does not exist! </label>
  </div>

</div>
