<div class="rmc-step">
  <div class="rmc-title-block">
    <span class="rmc-title hit-the-floor" i18n="@@readMyCards">ReadMyCards</span>
    <div class="rmc-subtitle"><span class="rmc-subtitle-text" i18n="@@byTrust1Connector">by Trust1Connector</span>
    </div>
  </div>
  <p class="rmc-promo-text text-ultralight" i18n="@@promoText">
    Read the content of your smartcard, using any type of reader,
    <strong>completely free</strong>.
    <br>This service is available for personal use, and we
    <strong>never</strong> save any data from your card.
  </p>
  <div class="rmc-download-prompt" *ngIf="!waitingForInstall">
    <div class="prompt-title" i18n="@@downloadTitle">Download the Trust1Connector</div>
    <div class="prompt-text text-ultralight" i18n="@@downloadHelpText">
      To use this website, you need to install the Trust1Connector.
      This is a small piece of software that enables the communication with your card reader,
      no matter which browser or reader you use.
    </div>
    <div class="block">
      <span class="download-text" i18n="@@enterEmail">Enter your email address and we will send you a download link!</span>
      <div class="email-form text-center">
        <form (submit)="registerDownload(userMail)" name="emailForm" class="">
          <input id="mail" name="mail"
                 email
                 i18n-placeholder
                 placeholder="Insert your email address"
                 class="form-control"
                 [(ngModel)]="userMail"
                 #mail="ngModel"
                 required
                 autofocus>
          <button type="submit" id="submit"
                ga-track-event="['button', 'click', 'Email Submit']"
                class="btn btn-submit"
                [disabled]="mail.invalid"
                (click)="registerDownload(userMail)"
                i18n="@@requestLink">Request Link</button>

          <div class="update-toggle">
            <div class="checkbox">
              <input type="checkbox"
                     value="None" id="checkbox" name="check" [(ngModel)]="sendUpdates" />
              <label for="checkbox"></label>
            </div>
            <div class="checkbox-text">
              <span class="text-ultralight" i18n="@@newsCheckbox">
                Click here if you want to receive news/updates on
                the Trust1Connector or Trust1Team products and services.
                You can unsubscribe at any time!
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="footer-text">
      <span i18n="@@mailPrivacyNotice">
        Your email address is required for validation purposes only and is not saved unless you give us express
        permission by selecting the checkbox above. It will never be shared with any third parties.
      </span>
    </div>
  </div>
  <div class="rmc-download-prompt" *ngIf="waitingForInstall">
    <div class="prompt-title" i18n="@@waitingForInstall">Waiting for installation...</div>
    <div class="prompt-text text-center text-ultralight">
      <div class="text-center waiting-spinner">
        <span class="fa fa-spinner fa-pulse fa-4x"></span>
      </div>
      <p i18n="@@instructionsSent">An email with download instructions is on its way to you.</p>
      <p *ngIf="!isFirefox" i18n="@@autodetectAfterInstall">
        Check your email and, once the installation is complete, the Trust1Connector will automatically be detected.
      </p>
      <p *ngIf="isFirefox">
        <strong i18n="@@firefoxRestartRequired">
          Because you are using Firefox, you will need to manually restart your browser after installation.
        </strong>
        <a class="text-small text-bold clickable" (click)="firefoxModal(firefoxTemplate)" i18n="@@why">Why?</a>
      </p>
    </div>
  </div>
</div>


<ng-template #firefoxTemplate>
  <div class="modal-header">
    <h3 i18n="@@firefoxTitle">Why do I have to restart Firefox?</h3>
  </div>
  <div class="modal-body">

    <p i18n="@@firefoxTrustedCertificates">
      We use trusted certificates to secure the communication between browser and card reader.
      During the installation, these certificates are added to the keychain,
      a collection of trusted certificates on your computer.
    </p>

    <p i18n="@@firefoxKeychain">
      Most browsers use the operating system keychain, but Firefox has opted to use its own,
      separate, keychain. Because Firefox only reads the contents of this keychain when it is
      (re)started, we unfortunately have no other option but to do a full restart after the
      installation.
    </p>

  </div>
</ng-template>
