<div class="card mobib-card mobib-nmbs">
  <div class="front">
    <div class="specimen text-uppercase">Specimen</div>
    <div class="chip-icon"></div>

    <div class="nmbs-content">
      <div class="names">
        <div class="last-name text-uppercase">{{ lastName }}</div>
        <div class="first-name text-capitalize">{{ firstName }}</div>
      </div>
      <div class="dob-inset">
        <div class="chip inline"></div>
        <div class="dob inline">
          <div class="labels" *ngIf="lang === 'nl'">Geboortedatum :</div>
          <div class="labels" *ngIf="lang === 'fr'">Date de naissance :</div>
          <div class="values">{{ dob }}</div>
        </div>
      </div>
      <div class="card-number">
        <div class="labels" *ngIf="lang === 'nl'">Nº kaart :</div>
        <div class="labels" *ngIf="lang === 'fr'">Nº carte :</div>
        <div class="values">{{ cardData['card-issuing'].card_holder_id }}</div>
      </div>
      <div class="card-validity">
        <div class="labels" *ngIf="lang === 'nl'">Geldigheid :</div>
        <div class="labels" *ngIf="lang === 'fr'">Validité :</div>
        <div class="values">{{ validFrom }} - {{ validUntil }}</div>
      </div>
      <div>
        <img class="mobib-logo" src="assets/images/mobib.png" />
      </div>
    </div>

    <div class="nmbs-picture-wrapper">
      <img class="nmbs-pic" *ngIf="!cardData.picture || cardData.picture.length === 0" src="assets/images/default-pic.jpg"/>
      <img class="nmbs-pic" *ngIf="cardData.picture && cardData.picture.length > 0" [attr.src]="'data:image/jpeg;base64,' + cardData.picture"/>
    </div>
    <div class="nmbs-logo-wrapper">
      <img class="nmbs-logo" [attr.src]="logoUrl">
    </div>
  </div>
</div>
